<div class="text-left">
    <h1 class="display-4">Controls</h1>
</div>
<ul>
    <li><a asp-area="" asp-controller="Mockups" asp-action="Reset">Password Reset</a></li>
    <li><a asp-area="" asp-controller="Mockups" asp-action="Signup">Sign Up</a></li>
</ul>
