@model Acc
<div class="text-left">
    <h1 class="display-4">Reset your password</h1>
</div>
<form method="post">
    @Html.TextBox("Value") @ViewData["error"]<br>
    <input type="submit" name="verify" value="Verify" />
</form>
