@model Acc
<div class="text-left">
    <h1 class="display-4">Reset your password</h1>
</div>
<form method="post">
    @Html.EditorFor(p => p.Email)<br>
    <input type="submit" name="send" value="Send me a code" />
    <input type="submit" name="send" value="I have a code" />
</form>
@ViewData["Code"]

