@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Mockups</h1>

</div>
<ul>
    <li><a asp-area="" asp-controller="Mockups" asp-action="Quiz">Quiz</a></li>
    <li><a asp-area="" asp-controller="Mockups" asp-action="QuizResult">QuizResult</a></li>
</ul>
