@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Calc Service Demonstration</h1>

</div>
<ul>
    <li><a asp-area="" asp-controller="Calc" asp-action="Manual">Manual parsing in single action</a></li>
    <li><a asp-area="" asp-controller="Calc" asp-action="ManualWithSeparateHandlers">Manual parsing in separate action</a></li>
    <li><a asp-area="" asp-controller="Calc" asp-action="ModelBindingsInParametrs">Model bindings(parametrs)</a></li>
    <li><a asp-area="" asp-controller="Calc" asp-action="ModelBindingsInSeparateModel">Model bindings(separate model)</a></li>
</ul>
