@{
    ViewData["Title"] = "Manual";
}
<h1 class="Title">@ViewData["Title"]</h1>

<div class="CalcMenu">
    <form method="post" >
        <input class="CalcNumber" type="number" name="First" />
        <br>
        <select name="Operand">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <br>
        <input class="CalcNumber" type="number" name="Second" />
        <br>
        <input type="submit" value="Submit" /><!--onclick="press(this)"-->
    </form>
</div>