@{
    ViewData["Title"] = "ModelBindingsInSeparateModel";
}
<h1>@ViewData["Title"]</h1>
<div class="CalcMenu">
    <form method="post">
        <input class="CalcNumber" type="number" Name="First" />
        <br>
        <select name="Operand">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <br>
        <input class="CalcNumber" type="number" Name="Second" />
        <br>
        <input type="submit" value="Submit" /> <!--onclick="press(this)"-->
    </form>
</div>