@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Text box</h1>
</div>
<form method="post">

    @Html.CheckBox("Value")IsSelected<br>
    <input type="submit" value="Submit">
</form>